<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EfDb;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--DatabaseInitializerForType + 命名空间 + DBContext派生类，禁用时value=Disabled-->
    <!--<add key="DatabaseInitializerForType InitDB.EfDbContext, InitDB" value="System.Data.Entity.DropCreateDatabaseAlways, EntityFramework" />-->
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>

    <!--EF 6.1 新增的侦听器，可以记录日志，但已经使用6.1的情况下，可以拦截器打印，这个侦听器属于鸡肋-->
    <interceptors>
      <interceptor type="System.Data.Entity.Infrastructure.Interception.DatabaseLogger, EntityFramework">
        <parameters>
          <!--输出文件，必须存在对应的文件夹，这里不会自动创建，且不能按日期分文件，鸡肋-->
          <parameter value="E:\Project\Github\ef-demo\InitDB\bin\Debug\logs\LogOutput.txt" />
          <!--原文件追加-->
          <parameter value="true" type="System.Boolean" />
        </parameters>
      </interceptor>
    </interceptors>
  </entityFramework>
</configuration>